.activity-row{
  margin-bottom:1em;
  cursor: pointer;
}
.activity-desc {
  float: left;
  width: 50%;
}
.activity-img {
  float: right;
  width: 50%;
}
.activity-img ul li {
  display: inline-block;
}
.activity-img ul li img{
  border-radius:50px;
}
.scrollbar{
  height:115px;
  background:#fff;
  overflow-y: scroll;
  padding: 1em 1em 0em 1em;
}
.activity-img{
  text-align:center;
}
.activity-img img{
  display:inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.activity-desc h5{
  color:#000;
  font-size:1em;
  font-weight:500;
  margin-bottom: 5px;
}
.activity-desc h5 a{
  color:#000;
}
.activity-desc p{
  color:#999;
  font-size:0.94em;
  line-height:1.7em;
}
.activity-desc h6 {
  color: #fd7b87;
  font-size: 13px;
  margin: 13px 0 0 0;
  font-weight: bold;
}
